
<div id="content">
  <div id="left_narrow" style="padding-top:14px; text-align: justify;">
    <h1>Real Estate Marketing from VLP - A Distinct Competitive Advantage for You</h1>
    <p><strong>The National Association of Realtors (NAR)</strong> buyer survey indicates that quality photography provides a significant home marketing advantage. According to NAR, 81% of home buyers used the Internet during their home search and they rated photographs as the most useful tool in their  search. 24% of home buyers got their first glimpses of their new homes on the web, up from just 2% in 1997. This indicates that quality photographs give a huge marketing advantage to real estate agents.</p>
    <h1>Have you ever judged a book by its cover?</h1>
    <p>Prospective home buyers are now inundated with more homes than ever for their review. Rather than have your listing be lost in the huge pool of other homes, attract home buyers like a good book cover with outstanding photography of the exterior and keep them interested with gorgeous photos of the interior. Set yourself apart with the vision of VLP. It's your product. Showcase it.</p>
    <br clear="all" />
  </div>
  <div id="right_wide">
    <div class="curve_top"> </div>
    <div id="right_box">

      <div class="intro_thumb">
        <a href="images.php"><%= image_tag "links/realestate_images_link.jpg", alt: "Click here to see images", class: "whiteBorder5"%></a>
      </div>
      <div class="intro_thumb" style="margin-right:0;">
        <a href="virtualtours.php"><%= image_tag "links/realestate_vtours_link.jpg", alt: "Click here to see virtual tours", class: "whiteBorder5"%></a>
      </div>
      <br clear="all" />
      <div class="intro_thumb">
        <a href="videos.php"><%= image_tag "links/realestate_videos_link.jpg", alt: "Click here to see videos", class: "whiteBorder5"%></a>
      </div>
      <div class="intro_thumb" style="margin-right:0;">
        <a href="prices.php"><%= image_tag "links/realestate_packages_link.jpg", alt: "Click here to see our prices", class: "whiteBorder5"%></a>
      </div>
      <br clear="all" />

      <div class="intro_thumb">
        <a href="technique.php"><%= image_tag "links/realestate_technique_link.jpg", alt: "Click here to see our technique", class: "whiteBorder5"%></a>
      </div>
      <div class="intro_thumb" style="margin-right:0;">
        <a href="testimonials.php"><%= image_tag "links/realestate_testimonials_link.jpg", alt: "Click here to see testimonials", class: "whiteBorder5"%></a>
      </div>
      <br clear="all" />

      <p></p>
    </div>
    <div class="curve_bottom"> </div>
  </div>
  <br clear="all" />
</div>
