<div id="content">
  <div id="left_even">
    <h1>Order Inquiry Form</h1>
      <p>Please submit an order inquiry and we will get in touch with you. Be sure to note our prices on the right.</p>

      <h2>Basic Information</h2>

      <%= form_tag do %>
        <div class="form-group">
          <p><%= text_field "order_form", "agentFirstName", placeholder: "Agent's First Name", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "agentLastName", placeholder: "Agent's Last Name", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "agentEmail", placeholder: "Agent's Email", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "agentPhone", placeholder: "Agent's Phone Number", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "otherEmail", placeholder: "Your Email (If different from above)", size: "40", autocomplete: "off" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "address1Prop", placeholder: "Address Line 1 of Property", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "address2Prop", placeholder: "Address Line 2 of Property", size: "40", autocomplete: "off", required: "required" %><p>
        </div>
        <div class="form-group">
          <p><%= text_field "order_form", "city", placeholder: "City", size: "40", autocomplete: "off", required: "required" %><p>
        </div>

        <p class="dark-gray dropdown-form">
          <select name="state" required autocomplete="off" >
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA" selected>California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </p>

        <div class="form-group">
          <p><%= text_field "order_form", "zipcode", placeholder: "Zip Code", size: "40", autocomplete: "off", required: "required" %><p>
        </div>

        <div class="form-group">
          <p><%= text_field "order_form", "sqft", placeholder: "Exact Square Footage of all Living Spaces", size: "40", autocomplete: "off", required: "required" %><p>
        </div>

        <h2>Which Services would you like?</h2>
        <p>
          <%= check_box_tag("order_form", "hdrPhotos", true) %>
          <%= label_tag(:hdrPhotos, "Unlimited HDR Photos - no Panoramas") %>
        </p>
        <p>
          <%= check_box_tag("order_form", "panoramas", true) %>
          <%= label_tag(:panoramas, "Panoramas / Virtual Tour Effect: $20") %>
        </p>
        <p>
          <%= check_box_tag("order_form", "spw", true) %>
          <%= label_tag(:spw, "Single Property Website: $25") %>
        </p>
        <p>
          <%= check_box_tag("order_form", "url", false) %>
          <%= label_tag(:url, "Custom Website Address") %>
        </p>


      <% end %>
  </div>
</div>